<ng-container>
  <div class="card-block" *ngIf="isLoading">
    <div class="text-center" >
      <c8y-loading></c8y-loading>
    </div>
  </div>
  
  <ng-container *ngIf="!isLoading">
    <div class="card-block d-col gap-8 p-t-0">
      <fieldset
        class="c8y-fieldset m-0"
        title="{{ prop.description | translate }}"
        *ngFor="let prop of customProperties"
        [ngClass]="{ 'highlight': prop.isEdit }"
      >
        <legend class="d-flex a-i-center">
          <span
            class=""
            title="{{ prop?.label | translate }}"
            data-cy="asset-properties-label"
          >
            {{ prop?.label | translate }}
          </span>
          <button
            class="btn-dot m-l-8 text-12"
            [attr.aria-label]="'Edit' | translate"
            tooltip="{{ 'Edit' | translate }}"
            data-cy="asset-properties-edit-icon"
            placement="bottom"
            type="button"
            [delay]="500"
            (click)="toggleEdit(prop)"
            *ngIf="(prop.isEditable || prop.isEditable === undefined) && !prop.isEdit"
            [disabled]="isEditDisabled"
          >
            <i c8yIcon="pencil"></i>
          </button>
        </legend>
          <c8y-asset-properties-item
            #assetProps
            [file]="prop.file"
            [key]="prop.key"
            [type]="prop.type"
            [value]="prop.value"
            [complex]="prop.complex"
            [isEdit]="prop.isEdit"
            [jsonSchema]="prop.jsonSchema"
            [isStandardProperty]="prop.isStandardProperty"
            [ngClass]="{'p-t-4 p-b-8 d-block': !prop.isEdit}"
          ></c8y-asset-properties-item>
          <div
            *ngIf="
              prop.key === 'c8y_Position' &&
              prop.jsonSchema.properties[prop.key].properties.lat &&
              prop.jsonSchema.properties[prop.key].properties.lng
            "
          >
            <c8y-asset-location
              [locationMO]="asset"
              [isEdit]="prop.isEdit"
              [form]="assetProps.form"
            ></c8y-asset-location>
          </div>
        <div class="separator-top p-t-8 p-b-8" *ngIf="prop.isEdit">
          <button
            class="btn btn-default btn-sm"
            title="{{ 'Cancel' | translate }}"
            data-cy="asset-properties-cancel-button"
            type="button"
            (click)="toggleEdit(prop)"
          >
            {{ 'Cancel' | translate }}
          </button>
          <button
            class="btn btn-primary btn-sm"
            title="{{ 'Save' | translate }}"
            data-cy="asset-properties-save-button"
            type="button"
            [disabled]="!assetProps?.form?.valid"
            (click)="save(assetProps.form.value, prop)"
          >
            {{ 'Save' | translate }}
          </button>
        </div>
      </fieldset>
    </div>
  </ng-container>
</ng-container>
